@import "../variables";

.introduction {
    margin-top: 5rem;

    h1 {
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 0px;
    }

    p {
        font-size: 1.2rem;

        span {
            color: $text-highlight-color;
            font-size: 2rem;
        }
    }
}